<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Listado de Matriculas.</title>
    <style>
        .mb-4 {
            display: grid;
            place-content: center;
        }
    </style>
</head>
<body>
<header layout:fragment="header" class="mb-4">
    <h1 class="h3 text-primary">
        Página en construcción.
    </h1>
    <br>
    <div>
        Estamos trabajando para ofrecerte nuevas funcionalidades pronto. Gracias por tu paciencia.
    </div>
</header>

</body>
</html>
